docs/
yarn-error.log
.nyc_output
coverage
.DS_Store
node_modules
.eslintrc.json
.eslintignore
.travis.yml
.editorconfig
.gitignore
test-dist
.vscode
index.ts
index.test.ts
menu.js
.tsignore
benchmark.txt
test.ts
tsconfig.json
tslint.json
example.js
.eslintrc.js
example.mjs
index.js.map
logo_s.ico
logo_s.png
tsconfig-lint.json